/* 
==============================================================================
GLOBAL STYLES
==============================================================================
*/
@import './variables';
@import './normalize';

* + * {
	margin-top: 1.5rem;
}

hr {
	margin: 0;
}

* {
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}

html {
	scroll-behavior: smooth;
	line-height: 1.5;
	font-size: 14px;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

body {
	color: $primary-color;
	background-color: $secondary-color;
	font-weight: 500;
	font-family: $primary-font;
}

header {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding: 0 2rem 2rem;
	opacity: 1;
	transition: opacity 1s ease-in;
}

main,
footer {
	padding: 2rem;
	margin: auto;
}

main {
	max-width: 90rem;
}

footer {
	max-width: 50rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 4.5rem;
	text-align: center;
}

h3 {
	font-size: 1.728rem;
}

p {
	max-width: 60ch;
}

p,
input,
textarea {
	font-size: 1.5rem;
	width: 100%;
}

h2,
li,
label {
	font-family: $secondary-font;
}

img {
	width: 12rem;
}

form {
	padding: 2rem;
}

label {
	display: block;
	padding: 0.5rem;
	font-size: 2rem;
}

input,
textarea,
button {
	border-radius: 5px;
	border: 3px solid #404040;
	transition: 0.2s;
}

input,
textarea {
	padding: 0.5rem;
	background-color: #f4f4f4;
	&:focus {
		background-color: #fff;
		box-shadow: 0 0 3px 1px;
	}
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #404040;
	color: #fff;
	font-size: 1.5rem;
	padding: 0.6rem 1rem;
	width: 10rem;
	cursor: pointer;

	&:hover,
	&:focus {
		color: #404040;
		background-color: #f4f4f4;
	}
}
