// Animations
    
$animation-duration: 1.2s;

div.outer {
    transition: height $animation-duration ease-in;
}

.open {
    animation: opening-action $animation-duration forwards;
}

.close {
    animation: opening-action $animation-duration reverse forwards;
}

.open-img {
    animation: opening-action_img $animation-duration forwards;
}

.close-img {
    animation: opening-action_img $animation-duration reverse forwards;
}

.open-text {
    animation: opening-action_text 0.6s forwards;
    animation-delay: $animation-duration;
}

.close-text {
    animation: opening-action_text 0.6s reverse forwards;
    animation-delay: 0.6s;
}

@keyframes opening-action {
    100% {
        transform: translateX(0);
        width: 25rem;
        height: 35rem;
    }
}

@keyframes opening-action_img {
    95% {
        backface-visibility: hidden;
        z-index: 1;
    }
    100% {
        backface-visibility: hidden;
        z-index: 1;
    }
}

@keyframes opening-action_text {
    100% {
        opacity: 1;
    }
}
}

@media screen and (min-width: 1200px) {
section {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
}
}