/* 
==============================================================================
VARIABLES
==============================================================================
*/

@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');

// Color

$primary-color: #404040;
$secondary-color: #f4f4f4;

// Fonts

$primary-font: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
$secondary-font: 'Alex Brush';
