::selection {
	@apply bg-main-reverse text-main-reverse dark:text-main dark:bg-main;
}
::-moz-selection {
	@apply bg-main-reverse text-main-reverse dark:text-main dark:bg-main;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
	*,
	*::before,
	*::after {
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
		scroll-behavior: auto !important;
	}
}

html {
	--unit-root: 1;
	--security-root: 60;
	--fluid-breakpoint-root: 1560;
	--perimeter-root: calc(var(--fluid-breakpoint-root) - var(--security-root) * 2);
	--unit-in-vw: calc(var(--unit-root) * 100 / var(--fluid-breakpoint-root) * 1vw);
	--unit-in-px: calc(var(--unit-root) * 1px);

	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
	--ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);

	font-size: calc(var(--unit-in-vw) * 3);

	&[data-scroll='locked'] {
		position: fixed;
		top: calc(var(--scroll-top) * -1px);
		width: 100%;
		padding-right: calc(var(--scroll-padding) * 1px);
		overflow: hidden;
	}

	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

body {
	@apply font-base text-40 bg-main;
}

/* Tablet */
@screen ph {
	html {
		font-size: calc(var(--unit-in-vw) * 2);
	}
}

/* Tablet */
@screen xs {
	html {
		font-size: calc(var(--unit-in-vw) * 1.5);
	}
}

/* Desktop */
@screen sm {
	html {
		font-size: calc(var(--unit-in-vw) * 1.25);
	}
}

@screen md {
	html {
		font-size: var(--unit-in-vw);
	}
}

/* Desktop (big) */
@screen xl {
	html {
		font-size: var(--unit-in-px);
	}
}

svg {
	display: block;
}

cite,
address {
	font-style: normal;
}

input {
	-webkit-appearance: none !important;
	appearance: none !important;
}

@layer utilities {
	._focus-default {
		@apply focus:outline-none focus-visible:ring-4 ring-gray-400;
	}

	._transition-underline {
		transition: text-decoration-color 100ms ease-out;
	}

	.underline-transparent {
		text-decoration-color: transparent;
	}

	@screen pointer {
		@variants hover {
			.underline-current:hover {
				text-decoration-color: currentColor;
			}
		}
	}

	._p-security {
		@apply p-80;
	}
}
